<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>
    <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class"navbar-brand" hred="#" onclick="location.href='{%url 'djangoapp:index' %}'">Best Car Dealership</a>
                <a class="btn" href="{%url 'djangoapp:about' %}"> About Us</a>
                <a class="btn" href="{%url 'djangoapp:contact' %}"> Contact Us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name}}({{ user.username}})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </body>
</html>
<html>
    <body>
        <section>
    <!--Add a registration form here -->
    <form action="{% url 'djangoapp:registration' %}" method="post" style="text-align:center">
        
    
        <div class="card">
            <div class="column">
                <h1>Sign Up</h1>
                <hr>
                <div class="container">
                <p><label for="username"><b>User Name</b></label>
                <input type="text" placeholder="Enter User Name: " name="username" required></p>

                <p><label for="firstname"><b>First Name</b></label>
                <input type="text" placeholder="Enter First Name: " name="firstname" required></p>

                <p><label for="lastname"><b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name: " name="lastname" required></p>

                <p><label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password: " name="psw" required></p>
                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                  </label>
                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
                </div>
            <div class="clearfix">
              {% csrf_token %}
              <button class="button" type="submit">Sign Up</button>
            </div>
        </div>
    
    </form>
      
    </body>
</html>